---
const { type, link, hide } = Astro.props;
---

<a class={"button " + type + " " + hide} href={link}><slot /></a>

<style>
  /********** Basics på udseende **********/

  .button {
    font-family: var(--font_body);
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-body-secondary);
    text-decoration: none;

    background-color: var(--surface-cta);
    border: var(--border_m) solid var(--surface-cta);
    border-radius: var(--radius_max);

    padding: var(--spacing_4) var(--spacing_6);
    display: block;
    width: fit-content;
    height: fit-content;
  }

  /* .button:hover {
    font-size: 1.rem;
  } */
  .button:visited {
    color: var(--text-body-secondary);
  }

  /********** type - prop  **********/
  .primary {
    background-color: var(--surface-cta);
    border-color: var(--surface-cta);
  }

  .primary:hover {
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }

  /* Secondary */
  .secondary {
    color: var(--surface-cta);
    background-color: transparent;
  }
  .secondary:hover {
    box-shadow:
      0px 1px 3px rgba(210, 210, 210, 0.8),
      0px 4px 10px rgba(210, 210, 210, 0.8);
  }

  .secondary:visited {
    color: var(--surface-cta);
  }

  /* Disabled */
  .disabled:visited,
  .disabled {
    border-color: var(--surface-cta-disabled);
    color: var(--surface-cta-disabled);
    background-color: transparent;
    cursor: default;
  }
</style>
