---

---

<form>
  <div>
    <input type="checkbox" value="Vaser" />
    <label>0 - 199 kr.</label><br />
  </div>
  <div>
    <input type="checkbox" value="Lamper" />
    <label>200 - 399 kr.</label><br />
  </div>
  <div>
    <input type="checkbox" value="Urtepotter" />
    <label>400 - 599 kr.</label><br />
  </div>
  <div>
    <input type="checkbox" value="Fyrfadsstager" />
    <label>600 - 799 kr.</label><br />
  </div>
  <div>
    <input type="checkbox" value="Fyrfadsstager" />
    <label>800 - 999 kr.</label><br />
  </div>
</form>
