---

---

<form>
  <div>
    <input type="checkbox" value="Vaser" />
    <label>Vaser</label><br />
  </div>
  <div>
    <input type="checkbox" value="Lamper" />
    <label>Lamper</label><br />
  </div>
  <div>
    <input type="checkbox" value="Urtepotter" />
    <label>Urtepotter</label><br />
  </div>
  <div>
    <input type="checkbox" value="Fyrfadsstager" />
    <label>Fyrfadsstager</label><br />
  </div>
</form>
