---

---

<form>
  <div>
    <input type="checkbox" value="Vaser" />
    <label>Stentøj</label><br />
  </div>
  <div>
    <input type="checkbox" value="Lamper" />
    <label>Porcelæn</label><br />
  </div>
</form>
