---
import Button from "../components/Button.astro";

const { heading, color } = Astro.props;
---

<article>
  <h2 class={color}>{heading}</h2>
  <slot />
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_5);
  }

  h2 {
    text-align: left;
  }
  /* Color=light, så bliver teksten lys i stedet for default (styling i general)*/
</style>
